.app_main_div {
  display: flex;
  height: 80vh;
  width: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 10px solid rgb(83, 87, 85);
  background-color: rgb(196, 196, 196);
}

/* Heading */
h1 {
  color: rgb(71, 90, 107);
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

/* Break css */

.break_container {
  display: flex;
  margin: 20px;
  padding: 12px 12px;
  background-color: rgb(105, 105, 105);
  border-radius: 50px;
  flex-direction: column; 
}


.break_heading{
  text-align: center;
  align-self: center;
  justify-items: center;
  
}

.break_timer{
  display: flex;
}

/* Session css */

.session_container {
  display: flex;
  margin: 20px;
  padding: 12px 12px;
  background-color: rgb(105, 105, 105);
  border-radius: 50px;
  flex-direction: column;
}

.session_heading{
  text-align: center;
}

.session_timer{
  display: flex;
}


/* Timer css */

.timer_main_div {
  display: flex;
  margin-top: 12px;
  align-items: center;
  flex-direction: column;
  border: 3px solid rgb(83, 87, 85);
  border-radius: 12px;
}

.interval_container {
  display: flex;
}

button {
  padding: 5px;
  margin: 12px;
}

.timer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

h4 {
  font-size: 25px;
  font-weight: 100;
}
/* button css */
button {
  height: 34px;
  width: 50px;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  background-color: rgb(65, 62, 59);
  color: white;
}
button:focus {
  outline: none;
}


button:disabled {
  cursor: not-allowed;
}

.heading{
  color: aliceblue;
}